# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: "Enhancing Chemical Explainability Through Counterfactual Masking"
site_url: https://counterfactualmasking.gmum.net/
copyright: Copyright &copy; 2025 Counterfactual Masking authors
theme:
  name: material
  palette:
    scheme: default
    primary: custom
  icon:
    logo: material/molecule

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.tabs
    - navigation.path
    - navigation.top
    - search.suggest
extra_css:
  - stylesheets/extra.css
plugins:
  - search
repo_url: https://github.com/gmum/counterfactual-masking
repo_name: gmum/counterfactual-masking
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - md_in_html

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gmum/counterfactual-masking

nav:
  - Overview: index.md
  - User Guide: user-guide/setup.md
  - Authors: authors/authors.md